<!--footer section starts-->
{% include 'header.html' %}
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>branches</h3>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Bangalore</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Mangalore</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Belagavi</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Davanagere</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Ramanagar</a>       
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"><i class="fas fa-arrow-right"></i>home</a>
            <a href="#"><i class="fas fa-arrow-right"></i>service</a>
            <a href="#"><i class="fas fa-arrow-right"></i>about</a>
            <a href="#"><i class="fas fa-arrow-right"></i>gallery</a>
            <a href="#"><i class="fas fa-arrow-right"></i>price</a>
            <a href="#"><i class="fas fa-arrow-right"></i>review</a>
            <a href="#"><i class="fas fa-arrow-right"></i>contact</a>
                 
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"><i class="fas fa-phone"></i>+123-456-7890</a>
            <a href="#"><i class="fas fa-phone"></i>+111-222-3334</a>
            <a href="#"><i class="fas fa-envelope"></i>Dwarka@gmail.com</a>
            <a href="#"><i class="fas fa-envelope"></i>evento@gmail.com</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Bangalore, india -4001</a>
   
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
            <a href="#"><i class="fab fa-twitter"></i>twitter</a>
            <a href="#"><i class="fab fa-instagram"></i>instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
        </div>
        <div class="credit">developed by<span>Dwarka and team</span> all rights reserved</div>
        

 </section>


 <!--footer section ends-->